$default-font: "roboto-example", sans-serif
$accent: #dc3058
$gray: #626262
$black: #101010
$text: #000
$white: #fff
$blue: #152446
$light-blue: #005f89
$red-orange: #d24a43


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
